<a href="https://colab.research.google.com/github/zalihat/Hamoye-stage-one-quiz/blob/master/Hamoye_stage_one_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Upload the dataset to colab

In [2]:
!wget -o data.csv https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv

In [17]:
try:
  fuel_data = pd.read_csv('/content/fuel_ferc1.csv')
except OSError as error:
  print('Error: ', error)

In [18]:
# take a look at the data
fuel_data.sample(5)

                      record_id  ...  fuel_cost_per_mmbtu
29303   f1_fuel_2018_12_145_3_3  ...               17.120
9269    f1_fuel_2001_12_82_0_11  ...                1.333
27288  f1_fuel_2016_12_157_0_10  ...                2.579
8003     f1_fuel_2000_12_21_0_1  ...                1.110
30        f1_fuel_1994_12_7_0_8  ...                2.650

[5 rows x 11 columns]

In [7]:
# get the number of rows and clumns in the data
print('Number of rows: {}\nNumber of columns:{}'. format (fuel_data.shape[0], fuel_data.shape[1]))

Number of rows: 29523
Number of columns:11

# Question one

If youâ€™re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B =  [1,2,3,4,5,6,13, 21, 34]

Which of the following option is the best way to create this list

In [50]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question two
### How do you create an identity matrix in python?

An identity matrix can be created using the numpy's function identity(). The function takes the dimenson of the square matrix as input and returns an identity matrix of that size.

In [51]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question Three
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [8]:

fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending = True)[:1]

fuel_type_code_pudl
gas    13.659397
Name: fuel_cost_per_unit_burned, dtype: float64

# Question Four
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [10]:
# Get the values of the fuel_mmbtu_per_unit column
fuel_mmbtu_per_unit_values = fuel_data.fuel_mmbtu_per_unit.values

In [11]:
# calculate the standard deviation and 75th percentile of the feature 
fuel_mmbtu_per_unit_SD = np.std(fuel_mmbtu_per_unit_values)
fuel_mmbtu_per_unit_75th_percentile = np.percentile(fuel_mmbtu_per_unit_values, 75)

print('Standard Deviation: %.2F' %(fuel_mmbtu_per_unit_SD))
print('75th percentile: %.2F' %(fuel_mmbtu_per_unit_75th_percentile))

Standard Deviation: 10.60
75th percentile: 17.01

# Question Five
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [59]:
kurtosis_fuel_qty_burnt  = fuel_data.fuel_qty_burned.kurtosis()
skewness_fuel_qty_burnt  = fuel_data.fuel_qty_burned.skew()

print( 'kurtosis of fuel quality burnt : %.2F' %(kurtosis_fuel_qty_burnt ))
print( 'skewness of fuel quality burnt : %.2F' %(skewness_fuel_qty_burnt ))

kurtosis of fuel quality burnt : 651.37
skewness of fuel quality burnt : 15.85

# Question Six
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 

(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)

In [12]:
# the feature with missing values
feature = fuel_data.columns[fuel_data.isnull().any()]
feature = str(feature[0])

In [13]:
# calculate the total number of missing rows
total_missing = fuel_data.isnull().sum().sum()
total_missing

180

In [14]:
# find the total number of rows
total_rows = fuel_data.shape[0]
total_rows

29523

In [15]:
# calculate the percentage of missing rows as a factor of the total rows
percentage = (total_missing/total_rows) * 100
percentage

0.609694136774718

In [75]:
print ('Feature that has missing values: {}\nTotal: {}'.format(feature, total))
print('Percentage of missing values: %.3F' %percentage)

Feature that has missing values: fuel_unit
Total: 180
Percentage of missing values: 0.610

# Question Seven
The feature with missing values falls under what category? What missing value imputation technique would you use?

In [16]:
# find the feature with missing values
fuel_data.columns[fuel_data.isnull().any()]

Index(['fuel_unit'], dtype='object')

In [82]:
# find the unique values in the feature to know the type of which category it falls under
fuel_data.fuel_unit.unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

From the previous cell it can be seen that the feature contains categorical values. the mode imputation technique will be used to fill the missing data as shown in the cell below.

In [86]:
fuel_unit_mode = fuel_data.fuel_unit.mode()

In [ ]:
# fill the missing values with the features's mode
fuel_data['fuel_unit'].fillna(fuel_unit_mode, inplace = True)

# Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?



1. calculate the correlation of fuel cost per unit burnt against all other features.
2. Sort the resulting series in ascending order. 

3.  select the features with the second and third lowest correlation

In [42]:

fuel_data.corr()['fuel_cost_per_unit_burned'].sort_values(ascending = True)[1:3]

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994

In [93]:
# get the columns with fuel type coal and report year 1994 and 1998

coal_data_1998 = fuel_data.loc[(fuel_data.fuel_type_code_pudl == 'coal') & (fuel_data.report_year == 1998)]
coal_data_1994 = fuel_data.loc[(fuel_data['fuel_type_code_pudl'] == 'coal') & (fuel_data['report_year'] == 1994)]

# get the sum of the fuel cost per unit burned in 1998 and 1994
coal_1994_sum = coal_data_1994.fuel_cost_per_unit_burned.sum()
coal_1998_sum = coal_data_1998.fuel_cost_per_unit_burned.sum()

# calculate the percentage change in the fuel cost per unit burnt between 1998 compared to 1994
percentage = (coal_1998_sum - coal_1994_sum) / coal_1994_sum * 100

print("percentage change in the fuel cost per unit burned in 1998 compared to 1994: {}%" .format(round(percentage)))

percentage change in the fuel cost per unit burned in 1998 compared to 1994: -21.0%

# Question 10
Which year has the highest average fuel cost per unit delivered?






1. Group the fuel data by report year
2. Get the fuel cost per unit delivered and calculate the mean.
3. Sort the resulting series in descending order and select the first row

In [19]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending =False)[:1]

report_year
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64